<h2>Edit '<%= @task.title %>' task:</h2>

<%= form_with model: @task, url: task_path(@task), method: :put do |form| %>
  <div class="field_with_errors">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field_with_errors">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div class="field_with_errors">
    <%= form.label :deadline %>
    <%= form.datetime_local_field :deadline %>
  </div>
  <div class="field_with_errors">
    <%= form.label :priority %>
    <%= form.collection_select :priority_id, Priority.order(:level), :id, :name %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to 'Delete', task_path(@task), method: :delete %>