<h1>Simple todo application</h1>

<% if user_signed_in? %>
  <h3>Hi <%= current_user.name %>!</h3>
  <%= link_to 'My todo lists', todo_lists_path, method: :get %> <br>
  <hr>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %> |
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>